.instructions{
    background-color: #2c323c;
    background-image: url(https://wallup.net/wp-content/uploads/2016/01/164708-blue-aqua-digital_art-circuitry-gray-black-artwork-abstract-geometry-748x421.png);
    background-repeat: repeat;
    color: #fff;
    min-height: 50px;
    padding: 160px 80px;
    padding-top: 200px;
    padding-bottom: 10px;
    text-align: center;

}

h1{
    margin: 0;
    margin-bottom: 30px;
    font-size: 2rem;
}

h2{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}