.navbar {
    background: #02031379;
    min-height: 70px;
    position: fixed;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    color: rgb(255, 255, 255);
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    z-index: 99;
    white-space: nowrap;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    /* display: inline-block; */
    /* padding: 26px 0;
    width: 33%; */
    text-align: center;
}

.brand {
   font-size: 40px;
   font-weight: bold;
}